@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 14% 95%;
    --foreground: 90 18% 14%;

    --card: 56 18% 97%;
    --card-foreground: 90 18% 14%;

    --popover: 56 18% 97%;
    --popover-foreground: 90 18% 14%;

    --primary: 90 22% 22%;
    --primary-foreground: 56 30% 96%;

    --secondary: 80 14% 86%;
    --secondary-foreground: 90 22% 22%;

    --muted: 80 12% 88%;
    --muted-foreground: 90 10% 38%;

    --accent: 36 30% 70%;
    --accent-foreground: 90 22% 18%;

    --destructive: 0 70% 45%;
    --destructive-foreground: 56 30% 96%;

    --border: 84 12% 80%;
    --input: 84 12% 80%;
    --ring: 90 22% 22%;

    --radius: 0.25rem;

    --moss: 92 24% 28%;
    --moss-dark: 96 26% 16%;
    --moss-light: 84 16% 60%;
    --clay: 26 34% 62%;
    --cream: 52 32% 93%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-display;
  }
}

@layer utilities {
  .hover-scale {
    @apply transition-transform duration-300 hover:scale-105;
  }
}
